<header class="header">
  <div className="header__container">
    <div className="header__logo-wrapper">
      <div className="header__logo">
        <a href="/" className="header__logo-link">
          {% render 'logo-dm-blue' %}
          {% comment %}
            <img src={logo} alt="Daniel Morales B Logo" className="header__logo-image"/>
            <img src={logoGold} alt="Daniel Morales B Logo" className="header__logo-image-gold" />
          {% endcomment %}
          <span className="sr-only">Home link</span>
        </a>
      </div>
      <button className="header__toggle">
        <span className="sr-only">Toggle Nav</span>
      </button>
    </div>
    <nav className="header__nav-wrapper">
      <ul className="header__nav">
        <li className="header__item font">
          <a href="#" className="header__link"><span>Website</span></a>
          <a href="#" className="header__link"><span>Designs</span></a>
          <a href="#" className="header__link"><span>Case Studies</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
