<div class="styleguide">
    <div class="container mx-auto">
        <h1>Styleguide</h1>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Font Family</h2>
                    <h3 class="font-abril text-lg mt-0">Abril Fatface Regular</h3>
                    <h3 class="font-lato text-lg mt-0">Lato</h3>
                    <h3 class="font-allura text-lg mt-0">Allura Regular</h3>
                </div>
                <div>
                    <h2 class="styleguide__title">Font Weights</h2>
                    <ul class="styleguide__font-weights">
                        <li>
                            <p class="body-font--black">Black</p>
                            <p class="body-font--black-italic">Black Italic</p>
                        </li>
                        <li>
                            <p class="body-font--bold">Bold</p>
                            <p class="body-font--bold-italic">Bold Italic</p>
                        </li>
                        <li>
                            <p>Regular</p>
                            <p class="body-font--italic">Italic</p>
                        </li>
                        <li>
                            <p class="body-font--light">Light</p>
                            <p class="body-font--light-italic">Light Italic</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Headings</h2>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div>
                    <h2 class="styleguide__title">Links</h2>
                    <p><a href="/">This is a regular link</a></p>
                    <p>Related content <a href="/">links to content</a></p>
                </div>
            </div>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Paragraphs</h2>
                    <h3 class="styleguide__subtitle">Display</h3>
                    <p class="paragraph--display">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis unde porro, earum
                        adipisci assumenda tempore aliquam, hic deserunt perspiciatis maxime sapiente quos numquam,
                        quibusdam rem. Veniam deleniti beatae harum!</p>
                    <h3 class="styleguide__subtitle">Regular</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis unde porro, earum
                        adipisci assumenda tempore aliquam, hic deserunt perspiciatis maxime sapiente quos numquam,
                        quibusdam rem. Veniam deleniti beatae harum!</p>
                </div>
                <div>
                    <h2 class="styleguide__title">Unordered List</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Sit necessitatibus eligendi aliquam!</li>
                        <li>Sint blanditiis suscipit reprehenderit.</li>
                        <li>Odio illum nihil harum!</li>
                        <li>Sequi, pariatur! Facilis, amet.</li>
                    </ul>
                </div>
            </div>
        
        
            <h2 class="styleguide__title">Brand</h2>
            <div class="styleguide__colors">
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-primary">
                        <span class="styleguide__color__hex">#323550</span>
                    </div>
                    <p class="styleguide__color__variable-name">primary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-secondary">
                        <span class="styleguide__color__hex">#191B28</span>
                    </div>
                    <p class="styleguide__color__variable-name">secondary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-secondary">
                        <span class="styleguide__color__hex">#191B28</span>
                    </div>
                    <p class="styleguide__color__variable-name">secondary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-tertiary">
                        <span class="styleguide__color__hex">#DAB279</span>
                    </div>
                    <p class="styleguide__color__variable-name">tertiary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-primary-alt">
                        <span class="styleguide__color__hex">#22253A</span>
                    </div>
                    <p class="styleguide__color__variable-name">primary alt</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--brand-tertiary-alt">
                        <span class="styleguide__color__hex">#967751</span>
                    </div>
                    <p class="styleguide__color__variable-name">tertiary alt</p>
                </div>
            </div>
            <h2 class="styleguide__title">Utility</h2>
            <div class="styleguide__colors">
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--black-pearl">
                        <span class="styleguide__color__hex">#02040C</span>
                    </div>
                    <p class="styleguide__color__variable-name">black pearl</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-color--white">
                        <span class="styleguide__color__hex">#FFFFFF</span>
                    </div>
                    <p class="styleguide__color__variable-name">white</p>
                </div>
            </div>
        
        
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary</h2>
                        <button class="btn btn--primary">Button Primary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary with icon</h2>
                        <button class="btn btn--primary btn--icon btn--icon--plus">Button Primary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary with icon</h2>
                        <button class="btn btn--primary btn--icon btn--icon--resume">Button Primary</button>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Secondary</h2>
                        <button class="btn btn--secondary">Button Secondary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Secondary with icon</h2>
                        <button class="btn btn--secondary btn--icon btn--icon--resume-gold">Button Secondary</button>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary</h3>
                        <a href="/" class="btn btn--primary">Button Primary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary with icon</h3>
                        <a href="/" class="btn btn--primary btn--icon btn--icon--plus">Button Primary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary with icon</h3>
                        <a href="/" class="btn btn--primary btn--icon btn--icon--resume">Button Primary</a>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Secondary</h3>
                        <a href="/" class="btn btn--secondary">Button Secondary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Secondary with icon</h3>
                        <a href="/" class="btn btn--secondary btn--icon btn--icon--resume-gold">Button Secondary</a>
                    </div>
                </div>
            </div>


            <h2 class="styleguide__title">Tabs</h2>
            <div class="tabs">
                <div class="tabs__header">
                    <div class="tabs__control tabs__control--active">Typography</div>
                    <div class="tabs__control">Colors</div>
                    <div class="tabs__control">Buttons</div>
                    <div class="tabs__control">Images</div>
                </div>
            </div>
        
        
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Icons</h2>
                        {% comment %} <img src={iconBars} class="styleguide__icon" alt="bars" />
                        <img src={iconCross} class="styleguide__icon" alt="cross" />
                        <img src={iconPlus} class="styleguide__icon" alt="plus" />
                        <img src={iconResume} class="styleguide__icon" alt="resume" />
                        <img src={iconResumeGold} class="styleguide__icon" alt="resume gold" /> {% endcomment %}
                    </div>
                </div>
                <div class="col-span-2">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Logos platforms</h2>
                        {% comment %} <img src={logoCodepen} class="styleguide__logo logo-codepen" alt="codepen" />
                        <img src={logoGithub} class="styleguide__logo logo-github" alt="github" />
                        <img src={logoDribbble} class="styleguide__logo logo-dribbble" alt="dribbble" />
                        <img src={logoCodepenBlue} class="styleguide__logo logo-codepen" alt="codepen" />
                        <img src={logoGithubBlue} class="styleguide__logo logo-github" alt="github" />
                        <img src={logoDribbbleBlue} class="styleguide__logo logo-dribbble" alt="dribbble" /> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Logos technology</h2>
                        <div class="styleguide__btn-wrapper styleguide__logos-tech">
                            {% comment %} <img src={logoPhotoshop} class="styleguide__logo-tech logo-photoshop" alt="photoshop" />
                            <img src={logoIllustrator} class="styleguide__logo-tech logo-illustrator" alt="illustrator" />
                            <img src={logoXd} class="styleguide__logo-tech logo-xd" alt="xd" />
                            <img src={logoDreamweaver} class="styleguide__logo-tech logo-dreamweaver" alt="dreamweaver" />
                            <img src={logoFigma} class="styleguide__logo-tech logo-figma" alt="figma" />
                            <img src={logoInvision} class="styleguide__logo-tech logo-invision" alt="invision" />
                            <img src={logoZeplin} class="styleguide__logo-tech logo-zeplin" alt="zeplin" />
                            <img src={logoHtml5} class="styleguide__logo-tech logo-html5" alt="html5" />
                            <img src={logoLess} class="styleguide__logo-tech logo-less" alt="less" />
                            <img src={logoVanillajs} class="styleguide__logo-tech logo-vanillajs" alt="vanilla js" />
                            <img src={logoCss3} class="styleguide__logo-tech logo-css3" alt="css3" />
                            <img src={logoSass} class="styleguide__logo-tech logo-sass" alt="sass" />
                            <img src={logoLiquid} class="styleguide__logo-tech logo-liquid" alt="liquid" />
                            <img src={logoDnn} class="styleguide__logo-tech logo-dnn" alt="dnn" />
                            <img src={logoWordpress} class="styleguide__logo-tech logo-wordpress" alt="wordpress" />
                            <img src={logoGit} class="styleguide__logo-tech logo-git" alt="git" />
                            <img src={logoSitecore} class="styleguide__logo-tech logo-sitecore" alt="sitecore" />
                            <img src={logoJquery} class="styleguide__logo-tech logo-jquery" alt="jquery" />
                            <img src={logoSourcetree} class="styleguide__logo-tech logo-sourcetree" alt="sourcetree" />
                            <img src={logoAem} class="styleguide__logo-tech logo-aem" alt="aem" />
                            <img src={logoVisualstudio} class="styleguide__logo-tech logo-visualstudio" alt="visualstudio" />
                            <img src={logoVscode} class="styleguide__logo-tech logo-vscode" alt="vscode" />
                            <img src={logoBootstrap} class="styleguide__logo-tech logo-bootstrap" alt="bootstrap" />
                            <img src={logoReact} class="styleguide__logo-tech logo-react" alt="react" />
                            <img src={logoAngular} class="styleguide__logo-tech logo-angular" alt="angular" />
                            <img src={logoAmp} class="styleguide__logo-tech logo-amp" alt="amp" />
                            <img src={logoBem} class="styleguide__logo-tech logo-bem" alt="bem" />
                            <img src={logoJenkins} class="styleguide__logo-tech logo-jenkins" alt="jenkins" />
                            <img src={logoGulp} class="styleguide__logo-tech logo-gulp" alt="gulp" /> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Hero images</h2>
                        <div class="styleguide__heros">
                            {% comment %} <img src={heroDaniel} class="styleguide__hero hero-daniel" alt="daniel" />
                            <img src={heroWebsites} class="styleguide__hero hero-websites" alt="websites" />
                            <img src={heroDesigns} class="styleguide__hero hero-designs" alt="designs" /> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Section Header Images</h2>
                        <div class="styleguide__shis">
                            {% comment %} <img src={shiDesktop} class="styleguide__shi shi-desktop" alt="code and designs on multiple screens" />
                            <img src={shiMobile} class="styleguide__shi shi-mobile" alt="code and designs on multiple screens" /> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Backgrounds vectors</h2>
                        {% comment %} <img src={bgClosetag} class="styleguide__bg" alt="closetag" />
                        <img src={bgSlash} class="styleguide__bg" alt="slash" /> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Backgrounds images</h2>
                        {% comment %} <img src={bgCode} class="styleguide__bg-img" alt="code" />
                        <img src={bgDesigns} class="styleguide__bg-img" alt="designs" />
                        <img src={bgTeam} class="styleguide__bg-img" alt="team" /> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Section images</h2>
                        {% comment %} <img src={sectionHpp} class="styleguide__section section-hpp" alt="hpp" />
                        <img src={sectionWalpeco} class="styleguide__section section-walpeco" alt="walpeco" />
                        <img src={sectionNoahsark} class="styleguide__section section-noahsark" alt="noahsark" />
                        <img src={sectionNrt} class="styleguide__section section-nrt" alt="nrt" /> {% endcomment %}
                    </div>
                </div>
            </div>
    </div>
</div>