<div class="styleguide">
    <div class="container mx-auto">
        <h1>Styleguide</h1>
        <section class="styleguide__section">
            <header>
                <h2>Typography</h2>
            </header>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Font Family</h2>
                    <h3 class="font-abril text-lg mt-0">Abril Fatface Regular</h3>
                    <h3 class="font-lato text-lg mt-0">Lato</h3>
                    <h3 class="font-allura text-lg mt-0">Allura Regular</h3>
                </div>
                <div>
                    <h2 class="styleguide__title">Font Weights</h2>
                    <ul class="flex gap-4">
                        <li>
                            <p class="font-black mb-4">Black</p>
                            <p class="font-black italic">Black Italic</p>
                        </li>
                        <li>
                            <p class="font-bold mb-4">Bold</p>
                            <p class="font-bold italic">Bold Italic</p>
                        </li>
                        <li>
                            <p class="mb-4">Regular</p>
                            <p class="italic">Italic</p>
                        </li>
                        <li>
                            <p class="font-light mb-4">Light</p>
                            <p class="font-light italic">Light Italic</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Headings</h2>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div>
                    <h2 class="styleguide__title">Links</h2>
                    <p><a href="/">This is a regular link</a></p>
                    <p>Related content <a href="/">links to content</a></p>
                </div>
            </div>
            <div class="md:grid grid-cols-2 gap-4">
                <div>
                    <h2 class="styleguide__title">Paragraphs</h2>
                    <h3 class="styleguide__subtitle">Display</h3>
                    <p class="paragraph--display">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis unde porro, earum
                        adipisci assumenda tempore aliquam, hic deserunt perspiciatis maxime sapiente quos numquam,
                        quibusdam rem. Veniam deleniti beatae harum!</p>
                    <h3 class="styleguide__subtitle">Regular</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quis unde porro, earum
                        adipisci assumenda tempore aliquam, hic deserunt perspiciatis maxime sapiente quos numquam,
                        quibusdam rem. Veniam deleniti beatae harum!</p>
                </div>
                <div>
                    <h2 class="styleguide__title">Unordered List</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Sit necessitatibus eligendi aliquam!</li>
                        <li>Sint blanditiis suscipit reprehenderit.</li>
                        <li>Odio illum nihil harum!</li>
                        <li>Sequi, pariatur! Facilis, amet.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="styleguide__section">
            <header>
                <h2>Colors</h2>
            </header>
            <h2 class="styleguide__title">Brand</h2>
            <div class="styleguide__colors">
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-primary">
                        <span class="styleguide__color__hex">#323550</span>
                    </div>
                    <p class="styleguide__color__variable-name">primary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-primary-alt">
                        <span class="styleguide__color__hex">#22253A</span>
                    </div>
                    <p class="styleguide__color__variable-name">primary alt</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-primary-light">
                        <span class="styleguide__color__hex">#4A4E69</span>
                    </div>
                    <p class="styleguide__color__variable-name">primary light</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-secondary">
                        <span class="styleguide__color__hex">#191B28</span>
                    </div>
                    <p class="styleguide__color__variable-name">secondary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-tertiary">
                        <span class="styleguide__color__hex">#DAB279</span>
                    </div>
                    <p class="styleguide__color__variable-name">tertiary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-tertiary-alt">
                        <span class="styleguide__color__hex">#967751</span>
                    </div>
                    <p class="styleguide__color__variable-name">tertiary alt</p>
                </div>
            </div>
            <h2 class="styleguide__title">Utility</h2>
            <div class="styleguide__colors">
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-quaternary">
                        <span class="styleguide__color__hex">#02040C</span>
                    </div>
                    <p class="styleguide__color__variable-name">quaternary</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-medium">
                        <span class="styleguide__color__hex">#7C8A9A</span>
                    </div>
                    <p class="styleguide__color__variable-name">medium</p>
                </div>
                <div class="styleguide__color">
                    <div class="styleguide__color__box bg-light">
                        <span class="styleguide__color__hex">#FFFFFF</span>
                    </div>
                    <p class="styleguide__color__variable-name">white</p>
                </div>
            </div>
        </section>
        <section class="styleguide__section">
            <header>
                <h2>Buttons</h2>
            </header>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary</h2>
                        <button class="btn btn--primary">Button Primary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary with icon</h2>
                        <button class="btn btn--primary btn--icon btn--icon--plus">Button Primary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Primary with icon</h2>
                        <button class="btn btn--primary btn--icon btn--icon--resume">Button Primary</button>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Secondary</h2>
                        <button class="btn btn--secondary">Button Secondary</button>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Secondary with icon</h2>
                        <button class="btn btn--secondary btn--icon btn--icon--resume-gold">Button Secondary</button>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary</h3>
                        <a href="/" class="btn btn--primary">Button Primary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary with icon</h3>
                        <a href="/" class="btn btn--primary btn--icon btn--icon--plus">Button Primary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Primary with icon</h3>
                        <a href="/" class="btn btn--primary btn--icon btn--icon--resume">Button Primary</a>
                    </div>
                </div>
            </div>
            <div class="md:grid grid-cols-3 gap-4">
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Secondary</h3>
                        <a href="/" class="btn btn--secondary">Button Secondary</a>
                    </div>
                </div>
                <div>
                    <div class="styleguide__btn-wrapper">
                        <h2 class="styleguide__title">Links as buttons</h2>
                        <h3 class="styleguide__subtitle">Secondary with icon</h3>
                        <a href="/" class="btn btn--secondary btn--icon btn--icon--resume-gold">Button Secondary</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="styleguide__section">
            <header>
                <h2>Images</h2>
            </header>
            <h2 class="styleguide__title">Icons</h2>
        </section>
    </div>
</div>